.app__menuitem {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.app__menuitem *:not(:last-child) {
	margin-bottom: 0.2rem;
}
.app__menuitem:not(:last-child) {
	margin-bottom: 2rem;
}
.app__menuitem-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.app__menuitem-sub {
	width: 100%;
}
.app__menuitem-name {
	flex: 1;
}
.app__menuitem-dash {
	width: 5.6rem;
	height: 1px;
	background: var(--color-golden);
	margin: 0 2rem;
}
.app__menuitem-price {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
